@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FreeSans';
}

body {
    color: var(--black);
}

ul {
    list-style-type: none;
}
a {
    color: var(--black);
    text-decoration: none;
}
a:visited {
    color: var(--black);
}

input[type="text"] {
    padding: 7px;
    border-style: solid;
    border-color: var(--border-color);
    border-width: var(--border-weight);
    border-radius: var(--border-radius);
}
input[type="text"]:focus {
    outline: var(--border-weight) solid var(--primary);
    border-color: var(--primary);
}

table {
    border-collapse: collapse;
}
tr {
    border-bottom: var(--border-weight) solid var(--border-color);
}
td {
    padding: 5px;
}