@import url(./root.css);

/* Remise a zero des styles par defaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FreeSans';
}

body {
    color: var(--black);
    background-color: var(--background);
}

/* Le style de contenues des differents fenetre */
.content-section {
    width: 100%;
    margin-left: 250px;
    transition: margin .3s linear;
}

/* Definition de preferences des styles des attributs */
ul {
    list-style-type: none;
}
a {
    color: var(--black);
    text-decoration: none;
}
a:visited {
    color: var(--black);
}

input[type="text"], input[type="number"], select {
    padding: 6px;
    border-style: solid;
    border-color: var(--border-color);
    border-width: var(--border-weight);
    border-radius: var(--border-radius);
}
input[type="text"]:focus, input[type="number"]:focus, select:focus {
    outline: var(--border-weight) solid var(--primary);
    border-color: var(--primary);
}

table {
    border-collapse: collapse;
}
tr {
    border-bottom: var(--border-weight) solid var(--border-color);
}
td {
    padding: 5px;
}
/* Fin de la definition */

/* Le style du breadcrumbs pour toutes l'application */
.breadcrumbs a:hover {
    color: var(--breadcrumbs-active);
}
.breadcrumbs-active {
    color: var(--breadcrumbs-active);
    font-weight: bold;
}
.breadcrumbs a::after {
    content: " /";
    font-size: 19px;
}