/* Pour la boite modal de la notification d'attente */
.waiting {
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.335);
    background-color: rgba(0, 0, 0, 0.334);
    z-index: -5;
}
.waiting-container {
    background-color: white;
    border-radius: var(--border-radius);
    width: 50%;
    max-height: 80vh;
    margin: 50px auto;
    overflow-y: scroll;
}
.waiting-container::-webkit-scrollbar {
    display: none;
}
.waiting-container .waiting-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 0px 25px;
    width: 50%;
    background-color: white;
    border-radius: 7px 7px 0 0;
}
.waiting-container .waiting-header .close svg {
    width: 30px;
    height: 30px;
}
.waiting-container .waiting-header .close {
    cursor: pointer;
}
.waiting-container .waiting-content {
    margin-top: 65px;
}
.waiting-container .waiting-box {
    background-color: rgb(168, 255, 255);
    border-radius: var(--border-radius);
    margin: 15px 25px;
    padding: 10px 15px;
    transition: 0.2s linear;
    cursor: pointer;
}
.waiting-container .waiting-box:hover {
    background-color: rgb(146, 223, 223);
}
.waiting-container .waiting-box h4 {
    margin-bottom: 10px;
}
.waiting-container .waiting-box p {
    font-size: 14px;
    margin-bottom: 3px;
}

.display-immobilisation,
.display-ammortissement,
.show-detail,
.achat-section,
.owner-section,
.rapport-recensement,
.inventaire-attente,
.demolition-section {
    background-color: white;
    margin: 30px 20px 0 20px;
    padding: 15px 30px;
    border-radius: var(--border-radius);
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

.display-immobilisation > nav,
.display-ammortissement > nav,
.show-detail > nav,
.owner-section > nav,
.inventaire-attente > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.display-ammortissement > .display-content > .rubrique {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    margin-top: 20px;
    padding: 7px;
}
.display-ammortissement > .display-content tr:last-child {
    font-weight: bold;
}

.show-detail .display-content {
    margin: 35px 50px;
}
.show-detail .display-content .detail-part {
    margin-bottom: 25px;
}
.show-detail .display-content .detail-part div:first-child {
    display: flex;
    justify-content: space-between;
}
.show-detail .display-content .detail-part div:last-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2em;
}
.show-detail .display-content h3 {
    position: relative;
    margin-bottom: 1.5em;
}
.show-detail .display-content h3::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -30px;
    width: 15px;
    height: 15px;
    background-color: var(--primary);
    border-radius: 50%;
}
.show-detail .display-content .detail-part p {
    font-size: 14px;
    line-height: 1.5;
}
.show-detail .display-content .detail-part p strong {
    color: rgb(25, 23, 23);
}
.show-detail .display-content .owner-part table {
    background-color: var(--owner-list-background);
}

.owner-section > nav {
    margin-bottom: 30px;
}
.owner-section .owner-detail .owner-direction {
    margin-bottom: 35px;
}
.owner-section .owner-detail .owner-direction h3 {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
    text-indent: 35px;
}
.owner-section .owner-detail .owner-direction > form {
    margin-top: 15px;
    padding: 0 75px;
}
.owner-section .owner-detail .owner-direction tr th:last-child,
.owner-section .owner-detail .owner-direction td:last-child {
    border-bottom: none;
}
.owner-section .owner-detail .owner-direction tr:hover {
    background-color: inherit;
}
.owner-section .owner-detail .owner-direction button {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    font-size: 12px;
    cursor: pointer;
}
.owner-section .owner-detail .owner-direction button:hover {
    background-color: var(--second-hover);
}
.owner-section .owner-detail .owner-direction button span:first-child {
    margin-right: 10px;
}
.owner-section .owner-detail .owner-direction button svg {
    width: 15px;
    height: 15px;
}

.owner-section .owner-show div:first-child {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid #8b8b8b;
}
.owner-section .owner-show div:first-child p {
    font-size: 14px;
}
.owner-section .owner-show div:last-child {
    margin: 15px 25px;
}
.owner-section .owner-show div:last-child tr td {
    padding: 7px;
}
.owner-section .owner-show div:last-child tr td input[type="submit"] {
    font-size: 12px;
}
.owner-section .owner-show div:last-child tr:last-child td {
    font-size: 14px;
    font-weight: bold;
}
.owner-section .owner-show div:last-child tr:last-child td:first-child {
    text-align: left;
}

.rapport-recensement,
.demolition-section {
    background-color: inherit;
}
.rapport-recensement > div:first-child,
.demolition-content > div:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.rapport-recensement form > div:last-child,
.demolition-content form > div:last-child {
    display: flex;
    justify-content: center;
}
.rapport-recensement form > div,
.demolition-content form > div {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-gap: 15px;
}
.rapport-recensement form > div .rapport,
.demolition-content form > div .rapport {
    padding: 10px 25px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: var(--border-radius);
}
.rapport-recensement form > div .rapport h3,
.demolition-content form > div .rapport h3 {
    margin-bottom: 15px;
}
.rapport-recensement form > div .rapport h3 span:first-child,
.demolition-content form > div .rapport h3 span:first-child {
    color: white;
    background-color: var(--second);
    padding: 5px;
    border-radius: 50%;
    margin-right: 7px;
}
.rapport-recensement form > div > div .rapport-input,
.demolition-content form > div > div .rapport-input {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 15px;
}
.rapport-recensement form > div > div .rapport-input .form-group,
.demolition-content form > div > div .rapport-input .form-group {
    display: flex;
    flex-direction: column;
}
.rapport-recensement form > div > div .rapport-input .form-group label,
.demolition-content form > div > div .rapport-input .form-group label {
    font-size: 14px;
    margin-bottom: 5px;
}
