.main-content {    
    margin: 50px 25px 0 25px;
}

.main-fonction {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: var(--border-radius);
}

.main-fonction h1 {
    font-size: 26px;
    margin-top: 50px;
}
.main-fonction > p {
    margin-top: 50px;
}
.main-fonction form {
    text-align: center;
    margin: 50px 0 20px 0;
}
.main-fonction form select {
    margin-right: 15px;
    width: 200px;
}

.menu-section {
    margin-top: 75px;
}
.menu-section ul{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}
/* .menu-section .menu-item {
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 9%, 0 8%);
} */
.menu-section .menu-item a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: var(--border-radius);
    padding: 45px 60px 10px 60px;
    z-index: 2;
}
.menu-section .menu-item a:hover {
    background-color: #eeeeee;
}
.menu-section .menu-item a > div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 7px 7px 0 0;
    background-color: var(--primary);
    clip-path: polygon(0 0, 100% 0, 100% 12%, 0 12%);
    width: 100%;
    height: 100%;
}
.menu-section .menu-item svg {
    width: 50px;
}
.menu-section .menu-item span:first-child {
    padding-bottom: 20px;
}
.menu-section .menu-item span:nth-child(2) {
    color: var(--primary);
    font-size: 18px;
    font-weight: bold;
}