.sidebar {
    position: fixed;
    overflow: scroll;
    background-color: var(--primary);
    height: 100vh;
    width: 250px;
    transition: 0.3s linear;
}
.sidebar::-webkit-scrollbar {
    width: 0;
}
.sidebar .logo {
    padding: 25px 0;
    text-align: center;
}
/* Ajuster tous les balise de lien */
.sidebar ul li a {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    gap: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.sidebar ul li a svg {
    width: 25px;
    height: 25px;
}

/* Ajuster les sous menus du sidebar */
.sidebar .item-list {
    padding-left: 15px;
}
.sidebar .item-list a {
    font-size: 12px;
    opacity: 70%;
    transition: 0.2s ease-in-out;
}
.sidebar .item-list a:hover {
    opacity: 1;
}
.sidebar .item-list .item-active {
    opacity: 1;
}

.main-active {
    background-color: var(--side-active);
}